.vignette {
	&.active {
		background-color: white;
	}

	> img {
		transition: all 0.3s ease-in-out;
		filter: grayscale(100%);
		opacity: 0.7;
	}
	
	&:hover > img, &.active > img {
		filter: grayscale(0%);
		opacity: 0.9;		
	}
}
