:root {
  --drawer-overlay-background: rgba(0, 0, 0, 0.4);
  --drawer-transition-duration: 0.3s;
  --drawer-z-index: 1000;
  --drawer-handler-size: 40px;
}

.drawer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--drawer-overlay-background);
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--drawer-transition-duration) ease-in-out, visibility 0s var(--drawer-transition-duration) linear;
  z-index: var(--drawer-z-index);
}

.drawer-overlay--open {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s; /* Ensure visibility transition applies immediately on open */
}

.drawer-content {
  position: fixed;
  transition: transform var(--drawer-transition-duration) ease-in-out;
  z-index: calc(var(--drawer-z-index) + 1);
  overflow: hidden; /* Allows content within the drawer to scroll */
  display: flex; /* Helps with child layout if needed */
}

/* Swipe handler (button) */
.swipe-handler.swipe-handler--left {
  position: absolute;
  cursor: grab;
  top: 0;
  bottom: 0;
  right: 0;
  width: var(--drawer-handler-size);

  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .swipe-handler--icon {
    transition: transform var(--drawer-transition-duration) ease-in-out;
  }

  &.swipe-handler--open .swipe-handler--icon {
    transform: rotate(180deg);
  }
}

.swipe-handler.swipe-handler--right {
  position: absolute;
  cursor: grab;
  top: 0;
  bottom: 0;
  left: 0;
  width: var(--drawer-handler-size);

  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .swipe-handler--icon {
    transition: transform var(--drawer-transition-duration) ease-in-out;
    transform: rotate(180deg);
  }

  &.swipe-handler--open .swipe-handler--icon {
    transform: rotate(0);
  }
}

/* Placement specific styles */
.drawer-content--left {
  top: 0;
  left: 0;
  height: 100vh;
  transform: translateX(calc(-100% + var(--drawer-handler-size)));
  padding-right: var(--drawer-handler-size);
}
.drawer-content--left.drawer-content--open {
  transform: translateX(0);
}

.drawer-content--right {
  top: 0;
  right: 0;
  height: 100vh;
  padding-left: var(--drawer-handler-size);
  transform: translateX(calc(100% - var(--drawer-handler-size)));
}
.drawer-content--right.drawer-content--open {
  transform: translateX(0);
}
